{% extends 'main/layout.html' %}
{% block title %}Про нас{% endblock title %}
{% block content %}
<div class="features">
    <h1>Краткая информация о нас</h1>
    <p id="about_p">
        Крестьянско-фермерское хозяйство «Великорецкое» расположено в Юрьянском районе Кировской области,
        вдали от городской пыли и вредных производств.
        В настоящее время хозяйство использует также закупное молоко крупных молочных ферм Юрьянского района
        ООО Новомедянское и Куменского СПК Красное Знамя. Коровы и козы питаются экологически чистым кормом,
        и дают вкусное, а главное полезное молоко.
        Продукция гипоалергенна, без консервантов, загустителей и других посторонних добавок.
        Изготавливается с любовью и соблюдением всех установленных санитарно-технологических требований
        на новом небольшом хорошо оборудованном молочном заводе, расположенном поблизости.
    </p>
    <a href="{% url 'home' %}" class="btn btn-danger">На главную страницу</a>
</div>

{% endblock content %}