{% extends 'main/layout.html' %}
{% block title %}Контакты{% endblock title %}
{% block content %}
    <div class="panel_contacts">

        <div id="panel_contacts_web">
            <ul>
                <li>
                    <a href="https://vk.com/kfh_velikoretskoe" class="btn btn-danger">
                        <i class="fa fa-vk" aria-hidden="true"></i> Vkontakte
                    </a>
                </li>
                <li>
                    <a class="btn btn-danger">
                        <i class="fa fa-telegram" aria-hidden="true"></i> Telegram
                    </a>
                </li>
            </ul>
        </div>
        <div id="panel_contacts_tel">
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+7-922-905-27-85: Директор</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+7-922-905-27-86: Главный бухгалтер</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+7-953-676-71-95: Поддержка</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+7-922-906-30-04: Сыроварня</li>
            </ul>
        </div>
        <div id="panel_contacts_address">
            <ul>
                <li>г. Киров, ул. Милицейская, 31 (Центральный рынок)</li>
                <li>г. Киров, ул. Екатерины Кочкиной, 3 (Юго-западный рынок)</li>
                <li>г. Киров, ул. Преображенская, 66 (Магазин "Раздолье")</li>
                <li>Кировская обл., Юрьянский р-н, с. Великорецкое ул. Чубанова, 6 (Сыроварня)</li>
            </ul>
        </div>
    </div>
{% endblock content %}0