
        <div class="form_toggle">
            	<div class="form_toggle-item item-1">
                    <input id="fid-1" type="radio" name="confirm_form_address_no" value="off" checked>
                    <label for="fid-1">Самовывоз</label>
                </div>
                <div class="form_toggle-item item-2">
                    <input id="fid-2" type="radio" name="confirm_form_address_no" value="on">
                    <label for="fid-2"> Доставка </label>
                </div>
        </div>